### MÃ³dulo pyspark sql

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.sql import SQLContext

from pyspark.sql.types import *
from pyspark.sql import functions

spark= SparkSession.builder.appName("Leer un fichero json con Spark SQL").enableHiveSupport().getOrCreate()

sc = spark.sparkContext
sqlCtx = SQLContext(sc)

version =spark.version
print('Version',sqlCtx)

data = spark.read.json("estudiantes.json")
data

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/14 04:37:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/14 04:37:56 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/08/14 04:37:56 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/08/14 04:37:56 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/08/14 04:37:56 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/08/14 04:37:56 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
23/08/14 04:37:56 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
/opt/conda/lib/python3.8/site-packages/pyspark/sql/context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

Version <pyspark.sql.context.SQLContext object at 0x7fa9a64133d0>

DataFrame[_id: string, apellidos: string, edad: bigint, email: string, nombre: string, nota: double]

In [3]:
data.take(2)

[Row(_id='33a624e7-e6f1-40b2-b812-7e39a2df1f5d', apellidos='Sebastian Garcia', edad=23, email='Valeria.Sebastian@yahoo.com', nombre='Valeria', nota=7.56),
 Row(_id='2cd47675-43f3-415c-bf18-c6cebaca70ab', apellidos='Sanchez Abascal', edad=23, email='Sanchez.Abascal@gmail.com', nombre='Emma', nota=8.16)]

In [4]:
data.count()

10000

In [5]:
data.show()

+--------------------+-----------------+----+--------------------+--------+----+
|                 _id|        apellidos|edad|               email|  nombre|nota|
+--------------------+-----------------+----+--------------------+--------+----+
|33a624e7-e6f1-40b...| Sebastian Garcia|  23|Valeria.Sebastian...| Valeria|7.56|
|2cd47675-43f3-415...|  Sanchez Abascal|  23|Sanchez.Abascal@g...|    Emma|8.16|
|594ea4e7-75e3-456...|    Sarabia Lopez|  20|Sarabia.Lopez@gma...| Agustin|8.22|
|3b521244-d2d4-40b...|Corominas Sarabia|  25|MartinaySebastian...| Martina|7.67|
|e6f52130-362f-4a5...|   Miranda Grande|  19|DavidyValeria@gma...|   David|7.45|
|cee04454-f6ea-48b...|     Lopez Bernal|  20|Lopez.Bernal@outl...|    Laia|7.35|
|6e5b75cd-0d5f-41f...|     Garcia Aznar|  22|MarcosySantiago@h...|  Marcos| 6.8|
|47435195-80b1-473...|      Garcia Cruz|  18|Judith.Garcia@gma...|  Judith| 9.1|
|fbdf66dc-49da-467...|    Seco Coronado|  21| IkerySara@gmail.com|    Iker|7.77|
|0df69140-84ac-47d...|     Lopez Sastre|  22|Lopez.Sastre@hotm...|   Pablo| 7.9|
|dbd1026a-b18f-450...|  Sarabia Gisbert|  19|Marcos1997@gmail.com|  Marcos| 7.8|
|ee2568cb-93f8-44c...|   Blanes Miranda|  24|  Oriol1992@yahoo.es|   Oriol|7.39|
|2f5239a1-05c0-454...|     Cuenca Lopez|  18|Marcos.Cuenca@yah...|  Marcos| 9.8|
|40191301-f2b6-4aa...| Sastre Corominas|  23|Sandra.Sastre@gma...|  Sandra| 8.3|
|eac69540-3a1d-4a3...|      Agudo Lopez|  22|LuciayTomas@outlo...|   Lucia|8.69|
|1f58ebe4-9fc5-429...|   Garcia Sanchez|  29|MarcosyMario@gmai...|  Marcos| 8.8|
|54d4a8d3-4cc1-4dc...|     Cruz Antunez|  24|EmmayJose@hotmail.es|    Emma|9.25|
|33f54c17-2a1b-421...|Santander Pascual|  21|Santander.Pascual...|   Pedro|5.79|
|971deb27-156d-4cd...|    Aznar Pascual|  21|Aznar.Pascual@idx...|Santiago| 8.6|
|cb1244e2-63cf-4a7...|   Parada Pascual|  20|Juan.Parada@gmail...|    Juan| 8.3|
+--------------------+-----------------+----+--------------------+--------+----+
only showing top 20 rows

In [6]:
data.printSchema()

root
 |-- _id: string (nullable = true)
 |-- apellidos: string (nullable = true)
 |-- edad: long (nullable = true)
 |-- email: string (nullable = true)
 |-- nombre: string (nullable = true)
 |-- nota: double (nullable = true)

In [7]:
(data.filter(data['nombre'] != 'null')
   .filter(data['nota'] > 8)
   .select(['nombre', 'apellidos', 'nota'])
   .show())

+--------+----------------+----+
|  nombre|       apellidos|nota|
+--------+----------------+----+
|    Emma| Sanchez Abascal|8.16|
| Agustin|   Sarabia Lopez|8.22|
|  Judith|     Garcia Cruz| 9.1|
|  Marcos|    Cuenca Lopez| 9.8|
|  Sandra|Sastre Corominas| 8.3|
|   Lucia|     Agudo Lopez|8.69|
|  Marcos|  Garcia Sanchez| 8.8|
|    Emma|    Cruz Antunez|9.25|
|Santiago|   Aznar Pascual| 8.6|
|    Juan|  Parada Pascual| 8.3|
|   Mario|  Moliner Guerra|8.13|
| Julieta|   Bermejo Gomez|8.17|
|   Mauro|    Sanchez Seco|8.75|
|    Sara|    Tous Sanchez|8.57|
|   Irene|  Bernal Sanchez|8.03|
| Natalia| Moliner Sanchez|8.25|
| Dolores|   Lopez Antunez| 9.7|
| Nicolas|Santander Sedano|9.26|
|    Sara|   Aznar Abascal|8.94|
|   Oriol|  Pascual Guerra|8.47|
+--------+----------------+----+
only showing top 20 rows

In [9]:
data.createOrReplaceTempView("estudiantes")

In [12]:
spark.sql("""
    SELECT nombre,apellidos, nota 
    FROM estudiantes 
    WHERE nota >8""").show()

+--------+----------------+----+
|  nombre|       apellidos|nota|
+--------+----------------+----+
|    Emma| Sanchez Abascal|8.16|
| Agustin|   Sarabia Lopez|8.22|
|  Judith|     Garcia Cruz| 9.1|
|  Marcos|    Cuenca Lopez| 9.8|
|  Sandra|Sastre Corominas| 8.3|
|   Lucia|     Agudo Lopez|8.69|
|  Marcos|  Garcia Sanchez| 8.8|
|    Emma|    Cruz Antunez|9.25|
|Santiago|   Aznar Pascual| 8.6|
|    Juan|  Parada Pascual| 8.3|
|   Mario|  Moliner Guerra|8.13|
| Julieta|   Bermejo Gomez|8.17|
|   Mauro|    Sanchez Seco|8.75|
|    Sara|    Tous Sanchez|8.57|
|   Irene|  Bernal Sanchez|8.03|
| Natalia| Moliner Sanchez|8.25|
| Dolores|   Lopez Antunez| 9.7|
| Nicolas|Santander Sedano|9.26|
|    Sara|   Aznar Abascal|8.94|
|   Oriol|  Pascual Guerra|8.47|
+--------+----------------+----+
only showing top 20 rows

In [17]:
spark.sql("select * from estudiantes").show()

+--------------------+-----------------+----+--------------------+--------+----+
|                 _id|        apellidos|edad|               email|  nombre|nota|
+--------------------+-----------------+----+--------------------+--------+----+
|33a624e7-e6f1-40b...| Sebastian Garcia|  23|Valeria.Sebastian...| Valeria|7.56|
|2cd47675-43f3-415...|  Sanchez Abascal|  23|Sanchez.Abascal@g...|    Emma|8.16|
|594ea4e7-75e3-456...|    Sarabia Lopez|  20|Sarabia.Lopez@gma...| Agustin|8.22|
|3b521244-d2d4-40b...|Corominas Sarabia|  25|MartinaySebastian...| Martina|7.67|
|e6f52130-362f-4a5...|   Miranda Grande|  19|DavidyValeria@gma...|   David|7.45|
|cee04454-f6ea-48b...|     Lopez Bernal|  20|Lopez.Bernal@outl...|    Laia|7.35|
|6e5b75cd-0d5f-41f...|     Garcia Aznar|  22|MarcosySantiago@h...|  Marcos| 6.8|
|47435195-80b1-473...|      Garcia Cruz|  18|Judith.Garcia@gma...|  Judith| 9.1|
|fbdf66dc-49da-467...|    Seco Coronado|  21| IkerySara@gmail.com|    Iker|7.77|
|0df69140-84ac-47d...|     Lopez Sastre|  22|Lopez.Sastre@hotm...|   Pablo| 7.9|
|dbd1026a-b18f-450...|  Sarabia Gisbert|  19|Marcos1997@gmail.com|  Marcos| 7.8|
|ee2568cb-93f8-44c...|   Blanes Miranda|  24|  Oriol1992@yahoo.es|   Oriol|7.39|
|2f5239a1-05c0-454...|     Cuenca Lopez|  18|Marcos.Cuenca@yah...|  Marcos| 9.8|
|40191301-f2b6-4aa...| Sastre Corominas|  23|Sandra.Sastre@gma...|  Sandra| 8.3|
|eac69540-3a1d-4a3...|      Agudo Lopez|  22|LuciayTomas@outlo...|   Lucia|8.69|
|1f58ebe4-9fc5-429...|   Garcia Sanchez|  29|MarcosyMario@gmai...|  Marcos| 8.8|
|54d4a8d3-4cc1-4dc...|     Cruz Antunez|  24|EmmayJose@hotmail.es|    Emma|9.25|
|33f54c17-2a1b-421...|Santander Pascual|  21|Santander.Pascual...|   Pedro|5.79|
|971deb27-156d-4cd...|    Aznar Pascual|  21|Aznar.Pascual@idx...|Santiago| 8.6|
|cb1244e2-63cf-4a7...|   Parada Pascual|  20|Juan.Parada@gmail...|    Juan| 8.3|
+--------------------+-----------------+----+--------------------+--------+----+
only showing top 20 rows

In [18]:
row = spark.sql("SELECT * FROM estudiantes").first()
row

Row(_id='33a624e7-e6f1-40b2-b812-7e39a2df1f5d', apellidos='Sebastian Garcia', edad=23, email='Valeria.Sebastian@yahoo.com', nombre='Valeria', nota=7.56)

In [19]:
row.asDict()

{'_id': '33a624e7-e6f1-40b2-b812-7e39a2df1f5d',
 'apellidos': 'Sebastian Garcia',
 'edad': 23,
 'email': 'Valeria.Sebastian@yahoo.com',
 'nombre': 'Valeria',
 'nota': 7.56}